@model APIproject.Models.Userlogin
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        body {
            background-image: url('/img/image1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

</head>
<div class="text-center">
    <section>
        <table width="100%" height="15%" border="0">
            <tbody>
                <tr align="center">
                    <td><h1>Trending Destination</h1></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<br />
<br />
<div class="text-center">
    <section>
        @using (Html.BeginForm("Plan", "DataBaseProject", FormMethod.Post))
        {
            <table border="0" align="center">
                <tbody>
                    <tr>
                        <td width="152">Login UserName</td>
                        <td width="152"><input type="text" name="user1" id="user1"></td>
                        <td><input type="hidden" id="destination" name="destination" ></td>
                    </tr>
                    <tr>
                        <td>Login Password</td>
                        <td><input type="password" name="password1" id="password1"></td>
                    </tr>
                    <tr>
                        <td><input type="reset" name="reset" id="reset" value="Reset"></td>
                        <td><input name="submit" type="submit" id="submit" value="Login"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>

        }
    </section>
</div>
<br />
<br />
<div class="text-center">
    <section>
        <table width="100%" height="15%" border="0">
            <tr align="center">
                <td width="152"><h3>New User Please Create Credential.</h3></td>
            </tr>
        </table>
    </section>
</div>
<br />
<br />
<div class="text-center">
    <section>
        @using (Html.BeginForm("CreateLogin", "DataBaseProject", FormMethod.Post))
        {
            <table border="0" align="center">
                <tbody>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">First Name*</td>
                        <td width="152"><input type="text" name="fastName" id="fastName"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">Last Name*</td>
                        <td width="152"><input type="text" name="lastName" id="lastName"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">Email</td>
                        <td width="152"><input type="text" name="email" id="email"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">phone</td>
                        <td width="152"><input type="text" name="phone" id="phone"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">Login UserName*</td>
                        <td width="152"><input type="text" name="userName" id="userName"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td width="10">&nbsp;</td>
                        <td width="152">Login Password*</td>
                        <td width="152"><input type="password" name="password" id="password"></td>
                        <td width="18">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="reset" name="reset" id="reset" value="Reset"></td>
                        <td><input name="submit" type="submit" id="submit" value="Create Login"></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        }
    </section>
</div>
<br />
<br />
<div class="text-center">
    <section>
        <table width="100%" height="15%" border="0">
            <tr align="center">
                <td width="152"><h3>@ViewBag.MandatoryCheck</h3></td>
            </tr>
        </table>
    </section>
</div>
</html>
